* {
	font-family: Rubik, Arial, Sans-serif;
}

.bgwrap {
	background-color: #f48942;
	height: 105.8px;

}

.container-user label {
	display: block;
	margin-bottom: 1em;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 500px;
}
/*Styles for Header*/
.container-header {
	text-align: center;
	border-bottom: 5px solid #303d51;
	margin-bottom: 3px;
}
h1 {
	background-color: #f48942;
	margin: 0;
	padding: 1em 0;
	color: white;
	text-transform: uppercase;

}
/*Styles for User Form*/
.container-user{
	border-top: 2px solid #303d51;
	
	padding: 10px 0 ;
}
/*Styles for inputs*/
input[type=text],
input[type=email],
input[type=phone-number],
input[type=tel],
select {
	width: 100%;
	background-color: #e8e8e8;
	box-sizing: border-box;
	border: none;
	padding: 15px;
	border-radius: 5px;
}
#zip {
	width: 30%;
	display: block;
}

input,select {
	margin-bottom: 1.2em;
}
input:focus, select:focus {
	border: #303d51 solid 2px;
	outline: none;
	transition: background-color 0.8s ease-in-out;
	background-color: #ffbd91;
	
}
button {
	background-color: #40E0D0;
	color: white;
	width: 100%;
	padding: 20px 0;
	margin-top: 10px;
	border-radius: 5px;
	border: 0;
	-webkit-box-shadow: -1px 6px 18px -9px rgba(0,0,0,0.2);
	-moz-box-shadow: -1px 6px 18px -9px rgba(0,0,0,0.2);
	box-shadow: -1px 6px 18px -9px rgba(0,0,0,0.2);

}

input {
	text-align: right;
}


/*Checkbox and Radial allignment*/

.v-alignment{
	display: inline-block;
	margin-left: 30px;
}
input[type=checkbox],
input[type=radio] {
	display: inline-block;
}



/*Text area*/
textarea {
	width: 100%;
	padding: 40px 0;
	border-radius: 5px;
	background-color: #e8e8e8;
	outline: none;
	margin-bottom: 20px;
}

/*Footer*/
.footer {
	text-align: center;
	padding-bottom: 90px;
}
.footer-italic {
	font-style: italic;
}

@media (min-width: 768px){
	input[type=text],
	input[type=email],
	input[type=phone-number],
	input[type=tel],
	select
			{
	display: inline-block;
	width: 75%;


	}
	.container-user  label {
		
		width: 24%;
		display: inline-block;
		

	}

	#zip {
	display: inline-block;
	width: 30%;


	}

	.wrapper {
		max-width: 700px;
	}

	
				
}